{% extends 'base.html' %}

{% block body %}

<header class="bg-info bg-opacity-50 text-white p-4 mb-4">
    <div class="container text-center">
        <h1 class="display-4">Add a Club</h1>
        <p class="lead">Explore the list of clubs below</p>
    </div>
    <div class="col">
        <div class="text-center col">
            <a href="/club/new" class="btn btn-primary btn-sm mt-5" role="button">New Club</a>
        </div>
    </div>
</div>

    {% if clinics %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Lat/Lon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in clinics %}
                        <tr>
                            <td>
                                <a href="/clinic/delete/{{clinic.id}}" title="Delete Clinic">
                                    <img width="25" src="/static/delete.png" alt="Delete">
                                </a>
                                <a href="/clinic/edit/{{clinic.id}}" title="Edit Clinic">
                                    <img width="25" src="/static/edit.png" alt="Edit">
                                </a>
                            </td>
                            <td>
                                <a href="/clinic/{{clinic.id}}">
                                    {{moment(clinic.createdate).calendar()}}
                                </a>
                            </td>
                            <td>{{clinic.name}}</td>
                            <td>
                                {{clinic.streetAddress}}<br>
                                {{clinic.city}}, {{clinic.sate}} {{clinic.zip}}
                            </td>
                            <td>{{clinic.description}}</td>
                            <td>{{clinic.lat}}/{{clinic.lon}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 class="text-center text-danger">No Clinics Found</h3>
    {% endif %}
</div>

{% endblock %}