{% extends "base.html" %}

{% block body %}
    <h1>Add New Club</h1>

    <!-- List all errors in a group at the top -->
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong> {{ field }}: {{ error }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Club Name Field -->
        <label for="name">{{ form.name.label }}</label><br>
        {{ form.name(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Advisor Field -->
        <label for="advisor">{{ form.advisor.label }}</label><br>
        {{ form.advisor(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.advisor.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Description Field -->
        <label for="description">{{ form.description.label }}</label><br>
        {{ form.description(cols=40, rows=5) }}
        <!-- List the errors for this field -->
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Day Field -->
        <label for="meeting_day">{{ form.meeting_day.label }}</label><br>
        {{ form.meeting_day(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.meeting_day.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Time Field -->
        <label for="meeting_time">{{ form.meeting_time.label }}</label><br>
        {{ form.meeting_time() }}
        <!-- List the errors for this field -->
        {% for error in form.meeting_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Place Field -->
        <label for="meeting_place">{{ form.meeting_place.label }}</label><br>
        {{ form.meeting_place() }}
        <!--- List the errors for this field-->
        {% for errors in form.meeting_place.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <!-- Submit Button -->
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}