<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

{% if club %}


<header class="bg-info text-white bg-opacity-50 p-2 py-5 mb-5 shadow-sm rounded-bottom"><div class="row">
    <div class="col-4 container text-center"> 
        <h1 class="display-5 fw-bold">{{club.name}}</h1> 
 </div>
</div> </header>

    
    <p class="fs-3 text-break">

            Description: {{club.description}} <br>
            Club Advisor: {{club.advisor}} <br>
            Meeting Day(s): {{club.meeting_day}} <br>
            Meeting Time: {{club.meeting_time}} <br>
            Meeting Place: {{club.meeting_place}} <br>

            {% if club.author == current_user %}
            <a data-toggle="tooltip" data-placement="top" title="Delete Club" href="/club/delete/{{club.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit Club" href="/club/edit/{{club.id}}">
                <img width="40" class="bottom-image" src="/static/edit.png">
            </a>
            {% if not is_member %}
        <form action="{{ url_for('joinClub', clubID=club.id) }}" method="post">
            <button type="submit">Join Club</button>
        </form>
        {% else %}
        <p>You are already a member of this club.</p>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}