{% extends 'base.html' %}
{% block body %}

<!-- Header -->
<header class="bg-info text-white bg-opacity-50 p-2 py-5 mb-5 shadow-sm rounded-bottom">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">
      My Profile
      <a href="/myprofile/edit" class="ms-3">
        <img width="40" src="/static/edit.png" class="img-fluid">
      </a>
    </h1>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center bg-white rounded-3 p-4 shadow-sm mx-auto" style="max-width: 1000px;">
    
    <div class="col-md-3 text-center mb-4 mb-md-0">
      {% if current_user.image %}
          <img class="img-thumbnail img-fluid shadow-sm" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
      {% else %}
          <img class="img-thumbnail img-fluid shadow-sm" width="100" src="/static/lion.png">
      {% endif %}
    </div>

    <div class="col-md-9">
      <div class="display-5">
        <h1 class="display-6 fw-lighter text-center mb-4 text-secondary">Profile Information</h1>
        <div class="p-4 display-6 fw-lighter border rounded-3 bg-light shadow-sm ">
          <div class="mb-3">
            {% if current_user.fname and current_user.lname %}
                <div><strong>Name:</strong> {{current_user.fname}} {{current_user.lname}}</div>
            {% else %}
                <div><strong>Google User Name:</strong> {{current_user.gname}}</div>
            {% endif %}
            <div><strong>Email:</strong> {{current_user.email}}</div>
            <div><strong>Role:</strong> {{current_user.role}}</div>
            <div><strong>Grade:</strong> {{current_user.grade}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
