<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Sleep Form</h1>

        <!--List all errors in a group at the top-->


        <form method=post>
            {{ form.hidden_tag() }}
            
            {{ form.sleep__time.label }} <br>
            {{ form.sleep_time(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.sleep_time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>
                {{ form.time_frame.label }} <br>
                {{ form.time_frame(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.time_frame.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            {{form.submit()}}
        </form>
        
{% endblock %}
