{% extends "base.html" %}

{% block body %}
    <h1>Add New Sport</h1>

    <!-- List all errors in a group at the top -->
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong> {{ field }}: {{ error }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Sport Name Field -->
        <label for="name">{{ form.name.label }}</label><br>
        {{ form.name(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Coach Field -->
        <label for="coach">{{ form.coach.label }}</label><br>
        {{ form.coach(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.coach.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Description Field -->
        <label for="description">{{ form.description.label }}</label><br>
        {{ form.description(cols=40, rows=5) }}
        <!-- List the errors for this field -->
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Day Field -->
        <label for="meeting_day">{{ form.meeting_day.label }}</label><br>
        {{ form.meeting_day(size=64) }}
        <!-- List the errors for this field -->
        {% for error in form.meeting_day.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Time1 Field -->
        <label for="meeting_time">{{ form.meeting_time1.label }}</label><br>
        {{ form.meeting_time1() }} : {{ form.meeting_time2()}}{{ form.time_frame}}
        <!-- List the errors for this field -->
        {% for error in form.meeting_time1.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Meeting Place Field -->
        <label for="meeting_place">{{ form.meeting_place.label }}</label><br>
        {{ form.meeting_place()}}
        <!--List the errors for this field-->
        {% for errors in form.meeting_place.errors %}
            <span style="color: red;"> [{{ error }}]</span>
        {% endfor %}
        <br><br>

        <!-- Submit Button -->
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}